.root-nav {
    background: black;
    margin-top: -1rem;
    padding: 0%
}

.navbar .nav-items {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0% !important;
}

.navbar .nav-items li .heading {
    color: white;   
    font-size: 1.5rem;
}

.navbar .nav-items li h1 span {
    color: rgb(127, 123, 123);
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 2rem 2rem;
    cursor: pointer;
}

.nav-link:hover {
    color: rgb(127, 123, 123);
    font-weight: bold;
    font-size: larger;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    border-color: none !important;
    border-radius: 10px;
    padding: 4px;
    color: rgb(127, 123, 123);
}

.search-bar input::placeholder {
    color: black;
    padding: 5px;
}

.search-bar input:focus {
    outline-color: black;
}

.search-bar .btn {
    position: absolute;
    right: 14.5%;
    border-style: none;
    background: white;
    border-radius: 5px;
}

.nav-icons {
    color: white;
}

@media (max-width: 1120) {
    /* Media query styles go here */
}